.jumbo {

    >h1 {
        letter-spacing: 0.5rem;
    }

    >h1:first-of-type {
        font-size: 12rem;
    }

    >h1:nth-child(2) {
        font-size: 11rem;
    }

    >h1:last-of-type {
        font-size: 10rem;
        color: rgb(232, 56, 50);
    }
    
}

.show {

    h1 {
        font-size: 5rem;
        color: rgb(232, 56, 50);
    }

}